@font-face { font-family: Avalancheno__Font; src: url(/assets/font/Avalancheno!.ttf) format("truetype"); }

@font-face { font-family: BBB_Simulator_Black_Font; src: url(/assets/font/BBB_Simulator_Black.otf) format("truetype"); }

@font-face { font-family: BBB_Simulator_Inline_Font; src: url(/assets/font/BBB_Simulator_Inline.otf) format("truetype"); }

@font-face { font-family: BBB_Simulator_Outline_Font; src: url(/assets/font/BBB_Simulator_Outline.otf) format("truetype"); }

@font-face { font-family: BBB_Simulator_Shade_Font; src: url(/assets/font/BBB_Simulator_Shade.otf) format("truetype"); }

@font-face { font-family: BBBInvader-Regular_Font; src: url(/assets/font/BBBInvader-Regular.otf) format("truetype"); }

@font-face { font-family: BBBixxxel-Regular_Font; src: url(/assets/font/BBBixxxel-Regular.otf) format("truetype"); }

@font-face { font-family: BBBOcelot-Regular_Font; src: url(/assets/font/BBBOcelot-Regular.otf) format("truetype"); }

@font-face { font-family: ChillPixels-Matrix_Font; src: url(/assets/font/ChillPixels-Matrix.otf) format("truetype"); }

@font-face { font-family: ChillPixels-Maximal_Font; src: url(/assets/font/ChillPixels-Maximal.otf) format("truetype"); }

@font-face { font-family: ChillPixels-Mono_Font; src: url(/assets/font/ChillPixels-Mono.otf) format("truetype"); }

@font-face { font-family: CHNOPixelCodePro-Italic_Font; src: url(/assets/font/CHNOPixelCodePro-Italic.otf) format("truetype"); }

@font-face { font-family: Xenon256-Regular_Font; src: url(/assets/font/Xenon256-Regular.otf) format("truetype"); }

@font-face { font-family: Xenon256-Corrupted_Font; src: url(/assets/font/Xenon256-Corrupted.otf) format("truetype"); }

@font-face { font-family: CHNOPixelCodePro-Regular_Font; src: url(/assets/font/CHNOPixelCodePro-Regular.ttf) format("truetype"); }

@font-face { font-family: UFO_-Mono_Font; src: url(/assets/font/UFO!-Mono.otf) format("truetype"); }

@font-face { font-family: Retrograde-Regular_Font; src: url(/assets/font/Retrograde-Regular.otf) format("truetype"); }

@font-face { font-family: Retrograde-Bold_Font; src: url(/assets/font/Retrograde-Bold.otf) format("truetype"); }

@font-face { font-family: CozetteVector_Font; src: url(/assets/font/CozetteVector.ttf) format("truetype"); }

@font-face { font-family: PublicPixel_Font; src: url(/assets/font/PublicPixel.ttf) format("truetype"); }

@font-face { font-family: DungeonChunk_Font; src: url(/assets/font/DungeonChunk.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x8-Light_Font; src: url(/assets/font/PlayerSansMono8x8-Light.ttf) format("truetype"); }

@font-face { font-family: FairfaxBold_Font; src: url(/assets/font/FairfaxBold.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x8-Italic_Font; src: url(/assets/font/PlayerSansMono8x8-Italic.ttf) format("truetype"); }

@font-face { font-family: FairfaxItalic_Font; src: url(/assets/font/FairfaxItalic.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x8-Classic_Font; src: url(/assets/font/PlayerSansMono8x8-Classic.ttf) format("truetype"); }

@font-face { font-family: FairfaxSerif_Font; src: url(/assets/font/FairfaxSerif.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x8-Bold_Font; src: url(/assets/font/PlayerSansMono8x8-Bold.ttf) format("truetype"); }

@font-face { font-family: Fairfax_Font; src: url(/assets/font/Fairfax.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x13-Light_Font; src: url(/assets/font/PlayerSansMono8x13-Light.ttf) format("truetype"); }

@font-face { font-family: FT88-Bold_Font; src: url(/assets/font/FT88-Bold.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x13-Italic_Font; src: url(/assets/font/PlayerSansMono8x13-Italic.ttf) format("truetype"); }

@font-face { font-family: FT88-Expanded_Font; src: url(/assets/font/FT88-Expanded.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x13-Classic_Font; src: url(/assets/font/PlayerSansMono8x13-Classic.ttf) format("truetype"); }

@font-face { font-family: FT88-Gothique_Font; src: url(/assets/font/FT88-Gothique.ttf) format("truetype"); }

@font-face { font-family: PlayerSansMono8x13-Bold_Font; src: url(/assets/font/PlayerSansMono8x13-Bold.ttf) format("truetype"); }

@font-face { font-family: FT88-Italic_Font; src: url(/assets/font/FT88-Italic.ttf) format("truetype"); }

@font-face { font-family: PIXY_Font; src: url(/assets/font/PIXY.ttf) format("truetype"); }

@font-face { font-family: FT88-Serif_Font; src: url(/assets/font/FT88-Serif.ttf) format("truetype"); }

@font-face { font-family: PixeloidSans_Font; src: url(/assets/font/PixeloidSans.ttf) format("truetype"); }

@font-face { font-family: FT88-Regular_Font; src: url(/assets/font/FT88-Regular.ttf) format("truetype"); }

@font-face { font-family: PixeloidSans-Bold_Font; src: url(/assets/font/PixeloidSans-Bold.ttf) format("truetype"); }

@font-face { font-family: FT88-School_Font; src: url(/assets/font/FT88-School.ttf) format("truetype"); }

@font-face { font-family: PixeloidMono_Font; src: url(/assets/font/PixeloidMono.ttf) format("truetype"); }

@font-face { font-family: pixel-ultima-regular_Font; src: url(/assets/font/pixel-ultima-regular.ttf) format("truetype"); }

@font-face { font-family: pixel-ultima-bold_Font; src: url(/assets/font/pixel-ultima-bold.ttf) format("truetype"); }

@font-face { font-family: madspixel2_Font; src: url(/assets/font/madspixel2.ttf) format("truetype"); }

@font-face { font-family: haxorville_Nerd_Font_Complete_Font; src: url(/assets/font/haxorvilleNerdFontComplete.ttf) format("truetype"); }

@font-face { font-family: haxorville_Font; src: url(/assets/font/haxorville.ttf) format("truetype"); }

@font-face { font-family: Greybeard-22px_Font; src: url(/assets/font/Greybeard-22px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-22px-Bold_Font; src: url(/assets/font/Greybeard-22px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-18px_Font; src: url(/assets/font/Greybeard-18px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-18px-Italic_Font; src: url(/assets/font/Greybeard-18px-Italic.ttf) format("truetype"); }

@font-face { font-family: Greybeard-18px-Bold_Font; src: url(/assets/font/Greybeard-18px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-17px_Font; src: url(/assets/font/Greybeard-17px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-17px-Italic_Font; src: url(/assets/font/Greybeard-17px-Italic.ttf) format("truetype"); }

@font-face { font-family: Greybeard-17px-Bold_Font; src: url(/assets/font/Greybeard-17px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-16px_Font; src: url(/assets/font/Greybeard-16px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-16px-Italic_Font; src: url(/assets/font/Greybeard-16px-Italic.ttf) format("truetype"); }

@font-face { font-family: Greybeard-16px-Bold_Font; src: url(/assets/font/Greybeard-16px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-15px_Font; src: url(/assets/font/Greybeard-15px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-15px-Italic_Font; src: url(/assets/font/Greybeard-15px-Italic.ttf) format("truetype"); }

@font-face { font-family: Greybeard-15px-Bold_Font; src: url(/assets/font/Greybeard-15px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-14px_Font; src: url(/assets/font/Greybeard-14px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-14px-Bold_Font; src: url(/assets/font/Greybeard-14px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-13px_Font; src: url(/assets/font/Greybeard-13px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-13px-Bold_Font; src: url(/assets/font/Greybeard-13px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-12px_Font; src: url(/assets/font/Greybeard-12px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-12px-Bold_Font; src: url(/assets/font/Greybeard-12px-Bold.ttf) format("truetype"); }

@font-face { font-family: Greybeard-11px_Font; src: url(/assets/font/Greybeard-11px.ttf) format("truetype"); }

@font-face { font-family: Greybeard-11px-Bold_Font; src: url(/assets/font/Greybeard-11px-Bold.ttf) format("truetype"); }

@font-face { font-family: GorgeousPixel_Font; src: url(/assets/font/GorgeousPixel.ttf) format("truetype"); }

.container {
    border: 1px solid black;
    padding: 1rem 0rem;
   
    .eq {
        font-size: 1rem;
    }

    .vw {
        font-size: 3rem;
    }

    .option {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 10px;
        text-align: right;
        margin-right: 1rem;
    }        
}