<!--p *ngFor="let option of optionss">{{ process(option).output }}</p>-->

<app-vegan-witches option="FT88-Gothique_Font" option2="Avalancheno__Font"></app-vegan-witches>
<app-vegan-witches option="Avalancheno__Font" option2="BBB_Simulator_Outline_Font"></app-vegan-witches>
<app-vegan-witches option="FT88-Gothique_Font" option2="BBB_Simulator_Outline_Font"></app-vegan-witches>
<app-vegan-witches option="Avalancheno__Font" option2="FT88-Gothique_Font"></app-vegan-witches>

<br/>
<br/>
<br/>

<app-vegan-witches *ngFor="let option of options" [option]="option" [option2]="option"></app-vegan-witches>